name: Build

on:
  push:
      branches: [ main ]
  pull_request:
    branches: [ main ]

permissions: {}

jobs:
    test:
        strategy:
          matrix:
            os: [ ubuntu-latest, windows-latest, macos-latest ]

        runs-on: ${{ matrix.os }}
        permissions:
          contents: write
          checks: write
          id-token: write
        steps:
            -   name: Checkout source
                uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

            -   name: Set up JDK
                uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
                with:
                    java-version: "25"
                    distribution: "temurin"

            -   name: Setup Gradle
                uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5

            -   name: Run chmod to make gradlew executable
                run: chmod +x ./gradlew

            -   name: Test
                run: ./gradlew test

            - name: Publish Test Report
              uses: mikepenz/action-junit-report@74626db7353a25a20a72816467ebf035f674c5f8 # v6
              if: success() || failure()
              with:
                report_paths: '**/build/test-results/test/TEST-*.xml'
