name: Build

on:
  push:
      branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
    test:
        strategy:
          matrix:
            os: [ ubuntu-latest, windows-latest, macos-latest ]

        runs-on: ${{ matrix.os }}
        steps:
            -   name: Checkout source
                uses: actions/checkout@v6

            -   name: Set up JDK
                uses: actions/setup-java@v5
                with:
                    java-version: "25"
                    distribution: "temurin"

            -   name: Setup Gradle
                uses: gradle/actions/setup-gradle@v5

            -   name: Run chmod to make gradlew executable
                run: chmod +x ./gradlew

            -   name: Test
                run: ./gradlew test

            - name: Publish Test Report
              uses: mikepenz/action-junit-report@v6
              if: success() || failure()
              with:
                report_paths: '**/build/test-results/test/TEST-*.xml'
