name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: { }

jobs:
  checkstyle:
    name: CheckStyle
    runs-on: ubuntu-latest
    permissions:
      contents: read # to read code
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false

      - name: Setup Base Environment
        uses: ./.github/actions/setup-base-environment

      - name: Checkstyle
        run: ./gradlew checkstyleMain

  build:
    name: Build(Without Test)
    runs-on: ubuntu-latest
    needs: checkstyle
    permissions:
      contents: read # to read code
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false

      - name: Setup Base Environment
        uses: ./.github/actions/setup-base-environment

      - name: Build without test
        run: ./gradlew build -x test -x functionalTest

  test:
    name: Test
    needs: [checkstyle, build]
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write # to write junit reports
      checks: write # to write junit reports
      id-token: write # to write junit reports
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false

      - name: Setup Base Environment
        uses: ./.github/actions/setup-base-environment

      - name: Test
        run: ./gradlew test

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@74626db7353a25a20a72816467ebf035f674c5f8 # v6
        if: success() || failure()
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
