name: Cleanup Branch Caches After Deletion
on:
  delete:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions: {}

jobs:
  cleanup-caches:
    name: Cleanup Caches
    if: github.event.ref_type == 'branch'
    uses: TimSchoenle/actions/.github/workflows/maintenance-wipe-cache.yaml@7ca80ccb04ac6964f6ab8fe1895b36d9a2a8587d # workflows-maintenance-wipe-cache-v1.1.1
    permissions:
      actions: write # to delete caches
      contents: read # to list cache keys
    with:
      branch: '${{ github.event.ref }}'
      repository: '${{ github.repository }}'
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
