name: test.yaml

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Publish to Maven Central
    runs-on: ubuntu-latest
    permissions:
      contents: read # to fetch code
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false

      - name: Setup Base Environment
        uses: ./.github/actions/setup-base-environment

      - name: Publish to Maven Central
        if: ${{ steps.release.outputs.release_created }}
        run: ./gradlew publishToMavenCentral
        env:
          CI: true
          MAVEN_CENTRAL_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          MAVEN_CENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}
          GPG_SIGNING_PASSPHRASE: ${{ secrets.GPG_SIGNING_PASSPHRASE }}

